* {
    font-family: "DM Sans";
    color: #050B20;
}

/* Pomocne klase */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.center-all {
    justify-content: center;
    align-items: center;
}

.shadow-b {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* Glave klase */

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.head {
    background-color: #fff;
    padding: 28px 60px 28px 60px;
}

.head-container {
    display: flex;
    align-items: center;
}

.headL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}

.headL > span {
    margin-left: 10px;
}

.headC {
    margin: 0 auto;
}

.headC > nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    gap: 30px;
}

.headC li {
    display: flex;
    align-items: center;
    gap: 2px;
}

.headC a {
    text-decoration: none;
}

.headR {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headR > button {
    border-radius: 16px;
    border: 1px solid #050B20;
    background: #FFF;
    color: #050B20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    height: 47.75px;
    width: 142px;
    cursor: pointer;
}

.car-img {
    overflow: hidden;
}

.car-img > img {
    margin-bottom: -65px;
    width: 1166px;
}

.dream-car {
    text-align: center;
    background: #EEF1FB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.dream-car > span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.6px;
    /* 185% */
}

.dream-car>h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 100% */
}

.car-banner {
    text-align: center;
}

.car-banner > div {
    display: inline-block;
    background-color: #fff;
    width: 1430px;
    height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-types ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-types a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 138px;
    padding-top: 23px;
    border-radius: 16px;
    border: 1px solid #E9E9E9;
    background: #FFF;
}

.nav-types a{
    text-decoration: none;
}

.type-boxes {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}

.boxL {
    background-color: #E9F2FF; 
    width: 685px; 
    height: 393.72px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding-left: 80px;
}

.boxL > h2 {
    margin-top: 80px;
    width: 233.5px;
    height: 90px;
    font-size: 30px;
}

.boxL > span {
    width: 355.39px;
    height: 55.5px;
}

.boxL > button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 59.995px; 
    width: 158.94px;
    gap: 9.672px; 
    border-radius: 12px;
    border: 1px solid #405FF2;
    background: #405FF2;
    cursor: pointer;
}

.boxL > button > span {
    width: 83.268px;
    font-size: 15px;
    color: #FFF;
}

.boxL > img {
    width: 110px;
    height: 110px;
    position: absolute;
    margin-left: 457px;
    margin-top: 233.72px;
}

.boxR {
    background-color: #FFE9F3; 
    width: 685px; 
    height: 393.72px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding-left: 80px;
}

.boxR > h2 {
    margin-top: 80px;
    width: 233.5px;
    height: 90px;
    font-size: 30px;
}

.boxR > span {
    width: 355.39px;
    height: 55.5px;
}

.boxR > button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 59.995px; 
    width: 158.94px;
    gap: 9.672px; 
    border-radius: 12px;
    border: 1px solid #050B20;
    background: #050B20;
    cursor: pointer;
}

.boxR > button > span {
    width: 83.268px;
    font-size: 15px;
    color: #FFF;
}

.boxR > img {
    width: 110px;
    height: 110px;
    position: absolute;
    margin-left: 457px;
    margin-top: 233.72px;
}

/* Media queries */
@media (max-width:1440px) {
    .car-banner>div {
        width: 80%;
    }

    .nav-types ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 1190px) {
    .head-container {
        flex-direction: column;
        gap: 20px;
    }

    .head {
        padding: 14px 0 14px 0;
    }

    .headR {
        justify-content: center;
    }

    .car-img > img {
        width: 100%;
    }

    .headC > nav > ul {
        gap: 20px;
    }
}

@media (max-width: 800px) {

}

@media (max-width: 660px) {
    .car-img > img {
        margin-bottom: -45px;
    }

    .dream-car > h2 {
        font-size: 50px;
    }
}

@media (max-width: 485px) {
    .car-img > img {
        margin-bottom: -35px;
    }

    .dream-car > h2 {
        font-size: 35px;
    }
}