/* Moderni reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "DM Sans";
    color: #050B20;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
}


/* Pomocne klase */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.center-all {
    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.c-gap-10 {
    column-gap: 10px;
}

.c-gap-20 {
    column-gap: 20px;
}

.c-gap-30 {
    column-gap: 30px;
}

.c-gap-40 {
    column-gap: 40px;
}

.c-gap-50 {
    column-gap: 50px;
}

.c-gap-75 {
    column-gap: 75px;
}

.r-gap-10 {
    row-gap: 10px;
}

.r-gap-20 {
    row-gap: 20px;
}

.r-gap-30 {
    row-gap: 30px;
}

.r-gap-40 {
    row-gap: 40px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-15 {
    margin-bottom: 15px;
} 

.ml-10 {
    margin-left: 10px;
}

.pt-20 {
    padding: 20px;
}

.pt-115 {
    padding-top: 115px;
}

.text-white {
    color: #fff;
}

.shadow-b {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* Glavne klase */

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.sale-card h4 {
    color: #fff;
    font-size: 18px;
}

.head {
    background-color: #fff;
    padding: 28px 60px 28px 60px;
}

.head-container {
    display: flex;
    align-items: center;
}

.headL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}

.headL > span {
    margin-left: 10px;
}

.headC {
    margin: 0 auto;
}

.headC > nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
}

.headC li {
    display: flex;
    align-items: center;
    gap: 2px;
}

.headR {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headR > button {
    border-radius: 16px;
    border: 1px solid #050B20;
    background: #FFF;
    color: #050B20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    height: 47.75px;
    width: 142px;
    cursor: pointer;
}

.forma {
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
    padding: 10px 9.98px 10px 5px;
    border-radius: 80px;
    background: #FFF;
}

.forma select {
    width: 210.39px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border: none;
    border-right: 1px solid #E9E9E9;
}

.forma .bb {
    border: none;
}

.forma button {
    width: 55px;
    padding: 17px 0 23.75px 0;
    border-radius: 60px;
    border: 1px solid #405FF2;
    background: #405FF2;
    display: inline-flex;
    justify-content: center;
}

.car-img {
    overflow: hidden;
}

.car-img > img {
    margin-bottom: -65px;
    width: 1166px;
}

.dream-car-container {
    text-align: center;
    background: #EEF1FB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.dream-car-container > span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.6px;
    /* 185% */
}

.dream-car-container > h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 100% */
}

.car-banner {
    text-align: center;
}

.car-banner > div {
    display: inline-block;
    background-color: #fff;
    width: 1430px;
    height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-types ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav-types a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 138px;
    padding: 26px 17.775px 26.79px 21px;
    border-radius: 16px;
    border: 1px solid #E9E9E9;
    background: #FFF;
}

.type-boxes {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}

.adv-card { 
    display: flex;
    width: 685px;
    border-radius: 16px;
    padding: 80px;
    box-sizing: border-box;
    row-gap: 30px;
}

.adv-card-content {
    display: flex;
    flex-direction: column;
}

.adv-card-content h2 {
    width: 233.5px;
    height: 90px;
    font-size: 30px;
}


.adv-card-content button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 59.995px; 
    width: 158.94px;
    gap: 9.672px; 
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
}

.adv-card-img {
    align-self: flex-end;
    margin-bottom: -20px;
}

.adv-card-img > img {
    width: 110px;
    height: 110px;
}

.adv-card-blue {
    background-color: #E9F2FF;
}

.adv-card-blue button {
    background: #405FF2;
}

.adv-card-pink {
    background-color: #FFE9F3;
}

.adv-card-pink button {
    background: #050B20;
}

.sale-card {
    width: 328px;
    border-radius: 16px;
    background: #050B20;
    overflow: hidden;
}

.sale-card-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
}

.sale-card span{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.sale-cards-button {
    width: 60px;
    height: 40px;
    padding: 13px 0 15px 0;
    border-radius: 30px;
    border: 1px solid #E9E9E9;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sale-card .sale-card-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.why-choose {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.why-choose-container {
    width: 1800px;
    border-radius: 16px;
    background: #F9FBFC;
}

.reasons-why {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 50px;
    margin-bottom: 115px;
    row-gap: 50px;
}

.reason {
    width: 311.28px;
}

/* Media queries */

@media (max-width:1800px) {
    .why-choose-container {
        width: 80%;
    }
}

@media (max-width:1440px) {
    .car-banner > div {
        width: 80%;
    }

    .nav-types ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 1190px) {
    .head-container {
        flex-direction: column;
        gap: 20px;
    }

    .head {
        padding: 14px 0 14px 0;
    }

    .headR {
        justify-content: center;
    }

    .car-img > img {
        width: 100%;
    }

    .headC > nav > ul {
        gap: 20px;
    }
}


@media (max-width: 960px) {
    .forma {
        width: 80%;
    }

    .forma select {
        width: 80%;
        border: 1px solid #E9E9E9;
        margin-bottom: 20px;
    }

    .forma .bb {
        border: 1px solid #E9E9E9;
    }

    .forma button {
        width: 80%;
    }
}


@media (max-width: 800px) {
    .adv-card {
        width: 80%;
        flex-wrap: wrap;
    }
}

@media (max-width: 660px) {
    .car-img > img {
        margin-bottom: -45px;
    }

    .dream-car-container > h2 {
        font-size: 50px;
    }
}

@media (max-width: 485px) {
    .car-img > img {
        margin-bottom: -35px;
    }

    .dream-car-container > h2 {
        font-size: 35px;
    }
}

@media (max-width:378px) {
    .why-choose-container > h2 {
        font-size: 30px;
    }
}