/* Moderni reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "DM Sans";
    color: #050B20;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
}


/* Pomocne klase */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.center-all {
    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.c-gap-10 {
    column-gap: 10px;
}

.c-gap-20 {
    column-gap: 20px;
}

.c-gap-30 {
    column-gap: 30px;
}

.c-gap-40 {
    column-gap: 40px;
}

.c-gap-50 {
    column-gap: 50px;
}

.c-gap-75 {
    column-gap: 75px;
}

.r-gap-10 {
    row-gap: 10px;
}

.r-gap-20 {
    row-gap: 20px;
}

.r-gap-30 {
    row-gap: 30px;
}

.r-gap-40 {
    row-gap: 40px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-260{
    margin-left: 260px;
}

.ml-240 {
    margin-left: 240px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-115 {
    padding-top: 115px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-260 {
    padding-left: 260px;
}

.text-white {
    color: #fff;
}

.shadow-b {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

.border-radius-16 {
    border-radius: 16px;
}

/* Glavne klase */

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.sale-card h4 {
    color: #fff;
    font-size: 18px;
}

.head {
    background-color: #fff;
    padding: 28px 60px 28px 60px;
}

.head-container {
    display: flex;
    align-items: center;
}

.headL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}

.headL > span {
    margin-left: 10px;
}

.headC {
    margin: 0 auto;
}

.headC > nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
}

.headC li {
    display: flex;
    align-items: center;
    gap: 2px;
}

.headR {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headR > button {
    border-radius: 16px;
    border: 1px solid #050B20;
    background: #FFF;
    color: #050B20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    height: 47.75px;
    width: 142px;
    cursor: pointer;
}

.forma {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 9.98px 10px 5px;
    border-radius: 80px;
    background: #FFF;
}

.opcija-container {
    width: 210.39px; 
    padding: 0 6px;
}

.opcija-arrow-down {
    width: 8px; 
    height: 5px; 
    border-left: 5px solid transparent; 
    border-right: 4px solid transparent; 
    border-top: 4px solid #0d1b2a;
}

.opcija-border {
    border-right: 1px solid #E9E9E9;
    height: 36px;
}

.forma button {
    width: 55px;
    padding: 17px 0 23.75px 0;
    border-radius: 60px;
    border: 1px solid #405FF2;
    background: #405FF2;
    display: inline-flex;
    justify-content: center;
}

.car-img {
    overflow: hidden;
}

.car-img > img {
    margin-bottom: -65px;
    width: 1166px;
}

.dream-car-container {
    text-align: center;
    background: #EEF1FB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.dream-car-container > span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.6px;
    /* 185% */
}

.dream-car-container > h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 100% */
}

.car-banner {
    text-align: center;
}

.car-banner > div {
    display: inline-block;
    background-color: #fff;
    width: 1430px;
    height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-types ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav-types a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 138px;
    padding: 26px 17.775px 26.79px 21px;
    border-radius: 16px;
    border: 1px solid #E9E9E9;
    background: #FFF;
}

.type-boxes {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}

.adv-card { 
    display: flex;
    width: 685px;
    border-radius: 16px;
    padding: 80px;
    box-sizing: border-box;
    row-gap: 30px;
}

.adv-card-content {
    display: flex;
    flex-direction: column;
}

.adv-card-content h2 {
    width: 233.5px;
    height: 90px;
    font-size: 30px;
}


.adv-card-content button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 59.995px; 
    width: 158.94px;
    gap: 9.672px; 
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
}

.adv-card-img {
    align-self: flex-end;
    margin-bottom: -20px;
}

.adv-card-img > img {
    width: 110px;
    height: 110px;
}

.adv-card-blue {
    background-color: #E9F2FF;
}

.adv-card-blue button {
    background: #405FF2;
}

.adv-card-pink {
    background-color: #FFE9F3;
}

.adv-card-pink button {
    background: #050B20;
}

.ms-container h2 {
    text-align: center;
    margin-top: 115px;
    padding-bottom: 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sale-card {
    width: 328px;
    border-radius: 16px;
    background: #050B20;
    overflow: hidden;
}

.sale-card-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
}

.sale-card span{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.sale-cards-button {
    width: 60px;
    height: 40px;
    padding: 13px 0 15px 0;
    border-radius: 30px;
    border: 1px solid #E9E9E9;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sale-card .sale-card-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.why-choose {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.why-choose-container {
    width: 1800px;
    border-radius: 16px;
    background: #F9FBFC;
}

.reasons-why {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 50px;
    margin-bottom: 115px;
    row-gap: 50px;
}

.reason {
    width: 311.28px;
}

.latest-cars-container h2 {
    text-align: center;
    margin-top: 115px;
    padding-bottom: 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.bookmark {
    border-radius: 18px;
    background: #FFF;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    margin-top: 20px;
    margin-left: 272px;
}

.great-price {
    display: flex;
    width: 104.23px;
    height: 29.89px;
    padding: 1.05px 14.686px 2.94px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #3D923A;
    position: absolute;
    margin-top: 23px;
    margin-right: 190px;
}

.low-mileage {
    display: flex;
    width: 110.38px;
    height: 29.89px;
    padding: 1.05px 14.676px 2.94px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #405FF2;
    position: absolute;
    margin-top: 23px;
    margin-right: 180px;
}

.inspiration-container > div:first-of-type {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.inspiration-container > div {
    padding-left: 260px;
    padding-bottom: 25px;
}

.inspiration-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 20px;
}

.inspiration-button {
    display: flex;
    width: 178.02px;
    height: 60px;
    padding: 0 25.409px 0 26px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    
    color: #050B20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}

.BoxCar {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.BoxCar-container {
    width: 1700px;
    border-radius: 16px;
    background: #405FF2;
    display: flex;
    column-gap: 145px;
    row-gap: 145px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 105px 0px;
}

.BoxCar-container div:first-of-type {
    width: 295px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.BoxCar-container :is(h2, span) {
    color: #fff;
}

.our-team-naslov {
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 115px;
    margin-bottom: 15px;
}

.our-team-container h3 {
    font-size: 20px;
    position: absolute; 
    margin-top: 25px;
}

.our-team-container span {
    font-size: 14px;
    position: absolute;
    margin-top: 57px;
}

.our-team-container img {
    border-radius: 16px;
}

.our-team-naslov h2 {
    padding-bottom: 25px;
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.post {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 447px;
}

.corner {
    display: flex;
    height: 35.89px;
    padding: 4.05px 14.672px 5.94px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #fff;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.dot {
    width: 4px;
    height: 4px;
}

.post-naslov {
    font-size: 20px;
}

.premium-brands-container {
    width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 150px;
    border-radius: 16px;
    border: 1px solid #F9FBFC;
    background: #F9FBFC;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.premium-brands-text {
    width: 503px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.premium-brands-text button {
    display: flex;
    width: 188.36px;
    height: 53.22px;
    padding: 0 26px;
    justify-content: center;
    align-items: center;
    column-gap: 9.626px;
    border-radius: 12px;
    border: 1px solid #405FF2;
    background: #405FF2;
}

.premium-brands-text button > div > span {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */
}

.join-boxcar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
}

.sign-up {
    width: 115.31px;
    height: 51.75px;
    padding: 11.125px 30.637px 12.875px 31px;
    border-radius: 16px;
    border: 1px solid #405FF2;
    background: #405FF2;
}

.sign-up span {
    color: #fff;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 567px;
    padding: 11px 11px 11px 12px;
    border-radius: 16px;
    border: 1px solid #E9E9E9;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 65px;
    border-top: 1px solid #E1E1E1;

    padding: 55px 170px;
}


/* Media queries */

@media (max-width:1800px) {
    .why-choose-container {
        width: 90%;
    }
}

@media (max-width: 1700px) {
    .BoxCar-container {
        width: 90%;
    }

    .premium-brands-container {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .logo {
        width: 90%;
    }
}

@media (max-width:1440px) {
    .car-banner > div {
        width: 90%;
    }

    .nav-types ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 1190px) {
    .head-container {
        flex-direction: column;
        gap: 20px;
    }

    .head {
        padding: 14px 0 14px 0;
    }

    .headR {
        justify-content: center;
    }

    .car-img > img {
        width: 100%;
    }

    .headC > nav > ul {
        gap: 20px;
    }
}

@media (max-width: 1080px) {
    .inspiration-container > div{
        padding-left: 0;
        text-align: center;
    }

    .inspiration-buttons {
        margin-left: 0;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .forma {
        width: 90%;
        font-size: 12px;
    }

    .opcija {
        width: auto;
        flex: 1;
        min-width: 0;
    }
}


@media (max-width: 800px) {
    .adv-card {
        width: 90%;
        flex-wrap: wrap;
        padding: 80px 50px;
    }
}

@media (max-width: 660px) {
    .car-img > img {
        margin-bottom: -45px;
    }

    .dream-car-container > h2 {
        font-size: 50px;
    }

    .logo {
        width: 350px;
        text-align: center;
    }

    .email {
        width: 100%;
    }

    .sign-up {
        width: 10%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 485px) {
    .car-img > img {
        margin-bottom: -35px;
    }

    .dream-car-container > h2 {
        font-size: 35px;
    }

    .ms-container h2 {
        font-size: 30px;
    }

    .stock {
        row-gap: 0;
    }

    .ms-container > div:first-of-type a {
        font-size: 13px;
    }

    .inspiration-container h2 {
        font-size: 30px;
    }

    .post {
        width: 300px;
    }

    .logo {
        width: 300px;
    }
}

@media (max-width:378px) {
    .why-choose-container > h2 {
        font-size: 30px;
    }

    .inspiration-container h2 {
        font-size: 25px;
    }

    .ms-container h2 {
        font-size: 25px;
    }

    .BoxCar-container img {
        width: 90%;
    }

    .BoxCar-container h2 {
        font-size: 30px;
    }

    .BoxCar-container span {
        font-size: 13px;
    }
}